body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50vh;
  border-radius: 5px;
  border: 0.5px solid lightgreen;
}

.login {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  width: 60%;
  padding: 10px;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 5px;
}

.username {
  font-weight: bold;
  color: lightgreen;
  position: absolute;
  top: 15px;
  right: 20px;
}